<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.onlinerent.mapper.ResidenceMapper">

    <resultMap id="BaseResultMap" type="com.example.onlinerent.model.Residence">
            <id property="rid" column="rid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="area" column="area" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="link" column="link" jdbcType="VARCHAR"/>
            <result property="linkPhone" column="link_phone" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,name,province,
        city,area,address,
        link,link_phone,create_time,
        update_time,delete_flag
    </sql>
    <insert id="addResidence">
        insert into residence (name,province,city,area,address,link,link_phone,create_time,delete_flag)
        values (#{name},#{province},#{city},#{area},#{address},#{link},#{linkPhone},#{createTime},#{deleteFlag});
    </insert>
    <insert id="addResidences">
        insert into residence (name,province,city,area,address,link,link_phone,create_time,delete_flag)
        values
            <foreach collection="residences" item="residence" separator=",">
                (#{residence.name},#{residence.province},#{residence.city},#{residence.area},#{residence.address},#{residence.link},#{residence.linkPhone},#{residence.createTime},#{residence.deleteFlag})
            </foreach>
    </insert>
    <select id="getTotal" resultType="java.lang.Integer">
        select count(*)
        from residence where delete_flag=1
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="province!=null and province!=''">
            and province=#{province}
        </if>
        <if test="city!=null and city!=''">
            and city=#{city}
        </if>
        <if test="area!=null and area!=''">
            and area=#{area}
        </if>
    </select>
    <select id="getResidenceByPage" resultMap="BaseResultMap">
        select *
        from residence where delete_flag=1
        <if test="name!=null and name!=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="province!=null and province!=''">
            and province=#{province}
        </if>
        <if test="city!=null and city!=''">
            and city=#{city}
        </if>
        <if test="area!=null and area!=''">
            and area=#{area}
        </if>
        limit #{offset},#{size}
    </select>
    <select id="getResidenceById" resultMap="BaseResultMap">
        select *
        from residence
        where rid = #{rid} and delete_flag=1;
    </select>
    <update id="deleteResidenceById">
        update residence
        set delete_flag = 0
        where rid=#{rid};
    </update>
    <update id="updateResidence">
        update residence
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="province!=null and province!=''">
                province=#{province},
            </if>
            <if test="city!=null and city!=''">
                city=#{city},
            </if>
            <if test="area!=null and area!=''">
                area=#{area},
            </if>
            <if test="address!=null and address!=''">
                address=#{address},
            </if>
            <if test="link!=null and link!=''">
                link=#{link},
            </if>
            <if test="linkPhone!=null and linkPhone!=''">
                link_phone=#{linkPhone},
            </if>
            <if test="updateTime!=null">
                update_time=#{updateTime},
            </if>
        </set>
        where rid=#{rid} and delete_flag=1
    </update>
</mapper>
